<div class="section no-pad-bot">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Starter Template</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
            <a href="#"
               class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col m12 l6 offset-l3">
            <h2 class="center">Game</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias consequatur, ea, fugit id, iusto minus nemo numquam optio perspiciatis quae temporibus veritatis voluptatem. Et magni placeat recusandae rerum vitae.</p>
        </div>
    </div>
</div>


