
<nav class="blue-grey darken-4 white-text" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left" title="Accueil">
            <img src="/orbitale_logo.svg" alt="Orbitale logo">
        </a>

        <ul class="left hide-on-med-and-down left-navigation">
            <%- partial('./menu_left') %>
        </ul>

        <ul class="right hide-on-med-and-down">
            <%- partial('./menu_right') %>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse right btn btn-flat white-text"><i class="fa fa-bars"></i></a>
        <ul id="nav-mobile" class="side-nav">
            <%- partial('./menu_left') %>
            <%- partial('./menu_right') %>
        </ul>
    </div>
</nav>
