
<div class="canvas_container">
    <canvas class="game_canvas" style="z-index: 0;" id="background"></canvas>
    <canvas class="game_canvas" style="z-index: 1;" id="world"></canvas>
    <canvas class="game_canvas" style="z-index: 2;" id="ui"></canvas>
</div>
<% if (sails.config.environment === 'development') { %>
<div id="debug" style="font-family: monospace;"></div>
<% } %>

<% block('javascripts', '<script src="/game/app.js"></script>') %>
